[user]
	name = Ivan Dimitrov
	email = ivan.v.dimitrov@pm.me
	signingkey = 99C921F4B23F061A

[push]
	default = simple

[github]
        user = vanjiii

[pull]
        rebase = true

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[pager]
	branch = false

[core]
	pager = less -FR
	editor = vi
	hooksPath = ~/.gitcfg/hooks

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[alias]
	aliases = "!f() { git config --get-regexp ^alias | cut -c 7-; }; f"
	; git switch to local branch
	swb = ! git switch "$(git branch | fzf | tr -d '[:space:]')"
	; git switch to remote branch
	swr = ! git switch "$(git fetch; git branch -r | fzf | cut -d '/' -f2 | tr -d '[:space:]')"
	co = checkout
	br = branch
	cm = commit
	st = status
	unstage = reset HEAD --
	sw = switch
	; git log with fzf
	flog = ! git log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit | fzf --ansi --reverse --no-sort --preview='git show --color {1}'
	; git log only for current branch
	ll = ! git log --no-merges --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit "$(git symbolic-ref refs/remotes/origin/HEAD --short)"..
	; git pretty log
	h = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pf = !git push --set-upstream origin $(git branch --show)
	amend = commit --amend --no-edit
	rename = commit --amend
	fixup = ! git log --oneline -n 20 | fzf | cut -d ' ' -f1 | xargs git commit --no-verify --fixup
